<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LTFGameLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LTFGameLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <LTFGameLauncher.Properties.Settings>
            <setting name="IsGraphicalWrapperDisabled" serializeAs="String">
                <value>False</value>
            </setting>
        </LTFGameLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LTFGameLauncher.Properties.Settings>
            <setting name="GraphicalWrapperName" serializeAs="String">
                <value>dgVoodoo2</value>
            </setting>
            <setting name="GameName" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionAction1Exe" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionAction1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionAction2Exe" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionAction2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionAction3Exe" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionAction3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="SetupExeName" serializeAs="String">
                <value />
            </setting>
            <setting name="WarningMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayButtonText" serializeAs="String">
                <value />
            </setting>
            <setting name="GameExecutable" serializeAs="String">
                <value>lancer.bat</value>
            </setting>
        </LTFGameLauncher.Properties.Settings>
    </applicationSettings>
</configuration>
